.record-card {
  color: #FF00CA;
  font-family: Tahoma;
  text-align: center;
  display: inline-table;
  padding: 25px;
}

button {
  color: #FF00CA;
  background-color: #FFDE2D;
  border-radius: 50px;
}

button:hover {
  font-weight: bold;
}

.nav {
  background-color: #FF00CA;
  text-align: center;
  padding: 25px;
}

.nav-link {
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.nav-link:hover {
  background:#800080;
}

.App {
  font-family: Tahoma;

}

img {
  max-width: 300px;
  max-height: 300px;
}

.search {
  padding: 25px;
}

.submit-form {
  padding: 25px;
}

.my-collection {
  display:inline-block;

}

.records-container {
  display:inline-block;
}

.home {
  text-align: center;
  font-size:x-large;
  padding-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size:xx-large;
  font-weight: bold;
  background-color: #FF00CA;
  padding: 25px;

}

.shop-name {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.my-records {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}